<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />

	<meta name="description" content="EduChamp : Education HTML Template" />

	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">



	<title>E - CLASSROOM</title>
	<link rel="icon" href="../Studtemplate/assets/images/logo.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" type="text/css" href="../Studtemplate/assets/css/assets.css">

	<link rel="stylesheet" type="text/css" href="../Studtemplate/assets/css/typography.css">

	<link rel="stylesheet" type="text/css" href="../Studtemplate/assets/css/shortcodes/shortcodes.css">

	<link rel="stylesheet" type="text/css" href="../Studtemplate/assets/css/style.css">
	<link class="skin" rel="stylesheet" type="text/css" href="../Studtemplate/assets/css/color/color-4.css">

</head>
<header class="header rs-nav header-transparent">

	<div class="sticky-header navbar-expand-lg">
		<div class="menu-bar clearfix">
			<div class="container clearfix">
				<div class="menu-logo">
					<a href="/student"><img style="margin-left: 15px; margin-top: 10px;"
							src="../Studtemplate/assets/images/logo.png" alt=""></a>
				</div>
				<button class="navbar-toggler collapsed menuicon justify-content-end" type="button"
					data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown"
					aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>

				<div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
					<div class="menu-logo">
						<a href="/student"><img style="width: AUTO;" src="../Studtemplate/assets/images/logo.png"
								alt=""></a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a>
						</li>
						<li><a href="/today">Today's Task</a>
						</li>
						<li class="add-mega-menu"><a href="/attendance">Attendance</a>

						</li>
						<li><a href="/assignments">Assignments</a>

						</li>
						<li class="nav-dashboard"><a href="/announcement">Announcement</a>
						</li>
						<li class="nav-dashboard"><a href="/notes">Notes</a>
						</li>
						<li class="nav-dashboard"><a href="/gallery">Gallery</a>
						</li>
						<li class="nav-dashboard"><a href="/profile">Profile</a>
						</li>
					</ul>

				</div>
				<!-- Navigation Menu END ==== -->
			</div>
		</div>
	</div>
</header>
<script src="../Studtemplate/assets/js/jquery.min.js"></script>
<script src="../Studtemplate/assets/js/functions.js"></script>