<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Vendors Style-->
	<link rel="stylesheet" href="/Template/css/vendors_css.css">
	<!-- Style-->
	<link rel="stylesheet" href="/Template/css/style.css">

</head>
<header class="top-bar">


	<nav hidden class="nav-white nav-transparent">
		<div class="nav-header">
			<a href="/tutor" class="brand" style="margin-top:-13.75px; font-weight: bold; font-size: 25px;">
				TUTOR
				<style>
					.brand:hover {
						color: #ee1044;
					}
				</style>
			</a>
			<button class="mt-2 toggle-bar">
				<img src="/Template/icons/themify-icons/SVG/menu.svg" alt="" srcset="">
			</button>
		</div>
		<ul class="menu">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/tutor/students">Students</a>
			</li>
			<li>
				<a href="/tutor/attendance">Attendance</a>
			</li>
			<li>
				<a href="/tutor/assignments">Assignments</a>
			</li>
			<li>
				<a href="/tutor/notes">Notes</a>
			</li>
			<li>
				<a href="/tutor/announcement">Announcement</a>
			</li>
			<li>
				<a href="/tutor/events">Event</a>
			</li>
			<li>
				<a href="/tutor/photos">Photos</a>
			</li>
			<li>
				<a href="/tutor/profile">Profile</a>
			</li>
		</ul>
		<ul class="attributes">
			<div id="drop">
				<style>
					#drop {
						margin-top: 10px;
					}

					@media only screen and (max-width:1130px) {
						#drop {
							margin-top: 24px;
						}
					}
				</style>
				<a style="background-color: #ee1044; border-color: #ee1044;" class="btn btn-primary"
					href="/tutor/tutorout"> Logout
				</a>


			</div>
		</ul>
	</nav>
</header>
<section class="bg-img pt-150 pb-20" data-overlay="7"
	style="background-image: url(/Template/images/front-end-img/background/bg-1.jpg); background-position: top center;">
	<div class="container">
		<div class="row">
			<div class="col-12">

			</div>
		</div>
	</div>
</section>
<!-- Vendor JS -->
<script src="/Template/js/vendors.min.js"></script>
<!-- Corenav Master JavaScript -->
<script src="/Template/corenav-master/coreNavigation-1.1.3.js"></script>
<script src="/Template/js/nav.js"></script>