<!-- Mirrored from www.multipurposethemes.com/admin/eduadmin-template/front-end/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Nov 2020 08:30:57 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.multipurposethemes.com/admin/eduadmin-template/images/favicon.ico">

    <title>EduAdmin - Dashboard</title>
    
	<!-- Vendors Style-->
	<link rel="stylesheet" href="../Template/css/vendors_css.css">
	<link rel="stylesheet" href="../Template/css/style.css">
     
  </head>
<header class="top-bar">


		<nav hidden class="nav-white nav-transparent">
			<div class="nav-header">
				<a  id="tut" href="/tutor" class="brand">
					<h2 style="margin-top: -4px;">TUTOR</h2>
					<style>#tut:hover{color: #ee1044;}</style>
				</a>
				<button   class="toggle-bar">
					<img src="../Template/icons/themify-icons/SVG/menu.svg" alt="" srcset="">
				</button>	
			</div>								
			<ul class="menu">	
				<li>
					<a href="index.html">Home</a>
				</li>				
				<li>
					<a href="about.html">Students</a>
				</li>				
				<li >
					<a href="#">Attendance</a>
				</li>
				<li>
					<a href="#">assignments</a>
				</li>				
				<li>
					<a href="#">notes</a>
				</li>		
				<li>
					<a href="#">announcements</a>

				</li>
				<li>
					<a href="contact_us.html">events</a>
				</li>
				<li>
					<a href="contact_us.html">photos</a>
				</li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a style="color: black;" class="dropdown-item" href="#">Action</a>
        </div>
      </li>
			</ul>
		</nav>
	</header>
    	    <section class="bg-img pt-200 pb-120" data-overlay="7" style="background-image: url(../Template/images/front-end-img/banners/banner-1.jpg); background-position: top center;">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center mt-80">
						<h1 class="box-title text-white mb-30">Hi Tutor</h1>	
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Vendor JS -->
	<script src="../Template/js/vendors.min.js"></script>	
	<!-- Corenav Master JavaScript -->
    <script src="../Template/corenav-master/coreNavigation-1.1.3.js"></script>
    <script src="../Template/js/nav.js"></script>

	
	